.inputContainer {
	position: relative;
}

.input {
	width: 33rem;
	border: 1px solid #ccd5e3;
	border-radius: 8px;
	padding: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.eyeIcon {
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translateY(-50%);
	right: 36px;
	top: 50%;
	border: none;
	background: none;
	cursor: pointer;
}

.inputError {
	border: 1px solid #ff5b56;
}

.error {
	margin-top: 5px;
	color: #ff5b56;
}

.input:focus-visible {
	border: 1px solid #6d6afe;
	outline: none;
}
