.LinkItems {
	margin: 40px 0 40px;
	display: grid;
	grid-template: "1fr 1fr 1fr";
	gap: 25px 20px;
	justify-content: center;

	@media (max-width: 1199px) {
		grid-template: "1fr 1fr";
	}

	@media (max-width: 767px) {
		grid-template: "1fr";
	}
}
