.login {
	cursor: pointer;
	width: 40rem;
	color: var(--White);
	border: none;
	font-size: 1.8rem;
	background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
	margin-top: 3rem;
	height: 5.3rem;
	border-radius: 8px;
}
